<% @tournaments.each do |tournament| %>
    Tournament Number: <%= tournament.id%>
    <li>Name: <%= tournament.name %></li>
    <li>Location:<%= tournament.location %></li>
    <li>Date: <%= tournament.date %></li>
    <li>Teamname: <%= tournament.name %></li>

<% end%>