<li>Name: <%= @tournament.name %></li>
<li>Location: <%= @tournament.location %></li>
<li>Date: <%= @tournament.date %></li>


<% if logged_in? && @tournament.team_id == current_user.id%>
<% binding.pry %>
<form method="post" action="/tournaments/<%= @tournament.id%>/delete">
 <input id="hidden" type="hidden" name="_method" value="DELETE">
 <input type="submit" value="delete">
 </form>

 <a  href="/tournaments/<%= @tournament.id %>/edit"> edit </a>

<form method="get" action="/tournaments">
 <input type="submit" value="View Tournaments">
</form>

<% else %>

<form method="get" action="/tournaments">
 <input type="submit" value="View Tournaments">
</form>
<form method="get" action="/tournaments/new">
 <input type="submit" value="Create Tournaments">
</form>
<form method="get" action="/teams/logout">
 <input type="submit" value="logout">
</form>

<% end %>



